img {
		border:none;
		padding:0;
		margin:0;
				vertical-align:middle;
	}
	a img {
		border:none;
		padding:0;
		margin:0;
	}
	a:hover {
		text-decoration:none;
	}
	a strong{
		color: #000098;	
	}
	.dates{
		margin-left:31px;
	}
	#boxContainer{
		-webkit-box-shadow:  5px 5px 15px 3px rgba(0, 0, 0, 0.8);
                -moz-box-shadow:  5px 5px 15px 3px rgba(0, 0, 0, 0.8);
                box-shadow:  5px 5px 15px 3px rgba(0, 0, 0, 0.8);
		border: 1px solid #ccc; 
		-moz-border-radius: 7px; 
		border-radius: 7px;
		z-index:100;
		display:none;
		width:500px; 
		height:350px; 
		background-color:#fff;
		overflow:hidden;
		position:absolute; 
		top:50px; 
		/*left:50px;*/
		padding-top:20px;
	}
        .center{
            width:500px;
            margin:auto;
            position:relative;
        }
	.slideDiv {
		width:550px;
		height:420px;
		display:inline;
		border:none;
		position:absolute;
		list-style-type:none;
		padding: 15px 0px 15px 0px;
		margin:0;
	}
	.names {
		font-size:24px;
		padding-left:30px;
		margin-top:15px;
	}
	.images {
		float:left;
		display:inline;
		padding:5px;
		padding-left:30px;
                width:200px;
	}
	.information {
		float: left;
                display: inline;
                height: 250px;
                width: 250px;
                padding-top: 0px;
                padding-right: 15px;
                border-left: solid;
                border-width: 2px;
                border-color: #C2C2C2;
                margin-left: 5px;
                padding-left: 10px;
	}
	.bigImg{
		-moz-box-shadow: 0 0 5px #888;
		-webkit-box-shadow: 0 0 5px#888;
		box-shadow: 0 0 5px #888;
	}
	#leftHov, #rightHov{
		position:absolute; top:0px; z-index:100;display:none;
	}
	#leftHov{
		left:0px;
	}
	#rightHov{
		right:0px;
	}
	#hiddenLayer{
		z-index:1; position:absolute; top:0px; left:0px; width:100%;height:100%;display:none;
	}
	#portraitList{
		height:350px;position:absolute;top:0;left:0;margin:0;padding:0;
	}

.surround{
    width: 100%;
    padding-right:7px;
}

.border{
    border-color: #CFCFD1;
    border-style:solid;
    border-width:1px;
}

#border{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.out{
    position:absolute;
    z-index: 1000;
    /*margin-top:280px;*/
    background-color:#fff;
    padding: 0px 10px 0px 10px;font-size: 14px;
    line-height: 16px;
    width: 580px;
    height: 400px;
}

#img1block{
    background-color: #000;
    width:100%;
    height:20%;
}

.moveUp{
    position:absolute;
    top: 0px;
    left: 0px;
}

.pop{
    position:absolute;
    z-index:1000;
}

.right{
    width:50%;
    float:right;
}

.stamp{
    padding: 24px 2px 0px 0px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background-image: url(../img/stampOutline.png);
    background-size: contain;
    width: 54px;
    height: 70px;
    float: right;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-top: -320px;
}

.sponsorLogo{
    float: right;
    margin: 0px 0px 0px 0px;
    max-width:175px;
}

.text{
    height: 230px;
}

.resizeWidth{
    width:500px;height:280px;display:block;padding-top:15px;
}

#closeBtn{
    z-index:500;
    position:absolute;
    right:0px;
    top:320px;
    width:30px;
    height:40px;
}

@media screen and (max-width: 500px){
    
    #boxContainer {
-webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.8);
box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.8);
border: 1px solid #ccc;
-moz-border-radius: 7px;
border-radius: 7px;
z-index: 100;
display: none;
width: 280px;
height: 500px;
background-color: #fff;
overflow: hidden;
position: absolute;
top: 50px;
left: 50px;
padding-top: 20px;
}

.slideDiv {
width: 290px;
height: 500px;
display: inline;
border: none;
position: absolute;
list-style-type: none;
padding: 15px 0px 15px 0px;
margin: 0;
}

.resizeWidth{
    width:280px;
    padding-top:0px;
}

.images{
    width:150px;
}
.stamp {
padding: 48px 0px 0px 0px;
font-size: 70px;
color: #fff;
text-align: center;
width: 120px;
height: 115px;
float: left;
display: inline;
margin-top: -370px;
background-color: #a31111;
position: relative;
margin-left: 150px;
background-image: url();
}

.names{
    font-size: 16px;
}

.information{
    margin-left: 20px;
    border-width: 0px;
}

#closeBtn{
    top: 15px;
    font-size: 20px;
}

#leftHov{
		top:70px;
	}
#rightHov{
		top:70px;
	}

}

@media screen and (max-width: 350px){
    .surround{
        max-width:320px;
    }
    .center{
            width:300px;
            margin-left:-50px;
        }
    
}

